<% provide(:title, 'Edit user') %>
<h1>Update your profile</h1>

<div class="row">
  <div class="span6 offset3">
    <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.label :name %>
        <%= f.text_field :name %>

        <%= f.label :email %>
        <%= f.text_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <%= f.label :password_confirmation, "Confirm Password" %>
        <%= f.password_field :password_confirmation %>

        <%= f.label :teaching_at %>
        <%= f.text_field :teaching_at %>

        <%= f.label :credentials %>
        <%= f.text_field :credentials %>

        <%= f.label :year_of_experience %>
        <%= f.text_field :year_of_experience %>

        <%= f.label :grade_level %>
        <%= f.text_field :grade_level %>

        <%= f.label :story %>
        <%= f.text_area :story %>

        <%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
    <% end %>

    <%= gravatar_for @user %>
    <a href="http://gravatar.com/emails" target="_blank">change</a>
  </div>
</div>